<div class="row">
    <div class="container">
        <div class="row ">
            <div class="containerWithoutPageHeader">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row bottomBorder">
                            <div class="leftIndent rightIndent"><h4><b>QIWI</b></h4></div>
                            <div class="col-xs-12 col-md-4">
                                <label class="control-label">Логин:</label>
                                <input class="form-control" type="text" validate="true" validationinfo="Логин" ng-model="setting.qiwiLogin" placeholder="Логин" />
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <label class="control-label">Пароль:</label>
                                <input class="form-control" type="text" validate="true" validationinfo="Пароль" ng-model="setting.qiwiPassword" placeholder="Пароль" />
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-6 col-sm-3 topIndent" readonly="readonly" ng-init="initTimePicker()">
                                <label class="control-label">Время снятия арендной платы:</label>
                                <input type="text" class="form-control input-sm" ng-model="setting.rentTransactionTime" id="timeTrans" ng-blur="checkTime(setting.rentTransactionTime)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="leftIndent rightIndent"><h4><b>СМС-шлюз (SMSC.RU)</b></h4></div>
                            <div class="col-xs-12 col-md-4">
                                <label class="control-label">Логин:</label>
                                <input type="text" class="form-control" validate="true" validationinfo="Логин SMSC.RU" ng-model="setting.smscLogin" placeholder="Логин" />
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <label class=" control-label">Пароль:</label>
                                <input type="text" class="form-control" validate="true" validationinfo="Пароль SMSC.RU" ng-model="setting.smscPassword" placeholder="Пароль" />
                            </div>
                        </div>
                        <div class="row bottomBorder">
                            <div class="leftIndent rightIndent"><h4><b>Yandex-taxi</b></h4></div>
                            <div class="col-xs-12 col-md-4">
                                <label class="control-label">Clid - идентификатор клиента:</label>
                                <input type="text" class="form-control" validate="true" validationinfo="Идентификатор" ng-model="setting.yandexClid" placeholder="ID" />
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <label class="control-label">API-key:</label>
                                <input type="text" class="form-control" validate="true" validationinfo="Ключ" ng-model="setting.yandexApiKey" placeholder="API-key">
                            </div>
                        </div>
                        <div class="row bottomBorder">
                            <div class="leftIndent rightIndent"><h4><b>Yandex-Кабинет</b></h4></div>
                            <div class="col-xs-12 col-md-4">
                                <label class="control-label">Логин:</label>
                                <input type="text" class="form-control" validate="true" validateinfo="Логин к Яндекс кабинету" ng-model="setting.yandexCabLogin" />
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <label class="control-label">Пароль:</label>
                                <input type="text" class="form-control" validate="true" validateinfo="Пароль к Яндекс кабинету" ng-model="setting.yandexCabPassword" />
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <label class="control-label">ID таксопарка:</label>
                                <input type="text" class="form-control" validate="false" validateinfo="Id таксопарка" ng-model="setting.yandexCabId" />
                            </div>
                            <span class="leftIndent note">Поле "Id таксопарка" заполняется в том случае, если к Яндекс-кабинету подключено два таксопарка</span>
                        </div>
                        <div class="row bottomBorder">
                            <div class="leftIndent rightIndent"><h4><b>Другие</b></h4></div>
                            <div class="col-xs-6 col-sm-3">
                                <label class="control-label">Проверка новых транзакций каждые:</label>
                                <select class="form-control" ng-model="setting.qiwiCheckInterval"
                                        ng-options="(time + ' мин.') for time in qiwiCheckIntervals track by time"></select>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-6 col-sm-3 topIndent">
                                <label class="control-label">Подсвечивать заказы в диспетчерской, если<br /> не назначен водитель за:</label>
                                <select class="form-control" ng-model="setting.highPriorityOrderTime"
                                        ng-options="((time/60) + ' ч.') for time in highPriorityOrderTimes track by time"></select>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-6 col-sm-3 topIndent">
                                <label class="control-label">Стоимость технического обслуживания для водителя:</label>
                                <input type="text" class="form-control input-sm" validate="true" validateingo="Стоимость ТО" ng-model="setting.technicalSupportFeeSize" ng-blur="checkSupport(setting.technicalSupportFeeSize)" />
                            </div>
                            <div style="clear: both"></div>
                        </div>
                        <div>
                            <a href="@Request.UrlReferrer"><button type="button" class="btn btn-success btn-sm pull-left"><span class="glyphicon glyphicon-chevron-left"></span>Назад</button></a>
                            <div class="pull-right">
                                <input type="submit" class="btn btn-success btn-sm" ng-disabled="isDisabled" value="Сохранить" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>