@using Dexpa.WebSite.Helpers
@{
    ViewBag.Title = "Путевые листы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="loader" id="loader">
    <img src="/Content/Images/loader.gif" alt="">
</div>
<div id="main_part">
    <div ng-controller="WayBillsCtrl" ng-init="initActive()">
        <div class="row">
            <div class="col-sm-12">
                <div class="row pageheader">
                    <div class="col-sm-12">
                        <div class="form-inline">
                            @if (GlobalConfiguration.roleAccessModel.CanEditWayBills)
                            {
                                <div class="btn-group filter-margin">
                                    <a class="btn btn-success btn-sm" href="@Url.Action("Add")"><i class="fa fa-plus"></i> Добавить</a>
                                </div>
                            }
                            <div class="btn-group filter-margin" id="controlButtons">
                                <a id="controlButton" class="btn btn-success btn-sm" href="/WayBills/Print/{{selectedEvent.id}}" target="_blank"><i class="fa fa-print"></i> Печать</a>
                                @if (GlobalConfiguration.roleAccessModel.CanEditWayBills)
                                {
                                    <a id="controlButton" class="btn btn-success btn-sm" href="/WayBills/Edit/{{selectedEvent.id}}"><i class="fa fa-edit"></i> Редактировать</a>
                                    <a id="controlButton" class="btn btn-success btn-sm" href="#" ng-click="deleteWayBills(selectedEvent.id)"><i class="fa fa-times"></i> Удалить</a>
                                }
                            </div>
                            <div class="btn-group filter-margin">
                                <label for="filterFromDate" class="filter-margin">Период:</label>
                                <input ng-model="fromDate" type="text" class="form-control input-sm" id="filterFromDate" />
                                <label for="filterToDate">-</label>
                                <input ng-model="toDate" type="text" class="form-control input-sm" id="filterToDate" />
                            </div>
                            <div class="btn-group filter-margin">
                                <input type="text" class="input-sm form-control driverOnTransaction" ng-model="driver" placeholder="Водитель" id="driver" ng-click="filterByDriver(null)" />
                                <div id="driverDropDownPanel" class="form-control dropdownPanel dropdownPanel_driver">
                                    <li driverId="null" ng-click="filterByDriver(null);getWayBills()">Все</li>
                                    <li ng-repeat="driver in drivers | filter:driver" driverId="{{driver.id}}" ng-click="filterByDriver(driver);getWayBills()">{{driver.name}}</li>
                                </div>
                            </div>
                            <div class="btn-group filter-margin">
                                <input type="text" class="input-sm form-control" ng-model="car" placeholder="ТС" id="cars" ng-click="filterByCar(null)" />
                                <div id="carDropDownPanel" class="form-control dropdownPanel dropdownPanel_cars">
                                    <li carId="null" ng-click="filterByCar(null);getWayBills()">Все</li>
                                    <li ng-repeat="car in cars | filter:car" carId="{{car.id}}" ng-click="filterByCar(car);getWayBills()">[{{car.callsign}}] - {{car.brand}} {{car.model}}</li>
                                </div>
                            </div>
                            <input class="form-control input-sm pull-right" ng-model="query" placeholder="Поиск">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="containerWithoutPageHeader">
                        @Html.Partial("_WayBillsTable")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/AngularControllers/WayBillsController.js")

}
