<div class="panel panel-default">
    <div class="panel-body">
        <div class="row bottomBorder">
            <div class="col-xs-12">
                <div class="col-sm-2">Название</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="selectedWC.name" maxlength="25" />
                </div>
            </div>
        </div>
        <div class="row bottomBorder">
            <div class="col-xs-12">
                <div class="leftIndent rightIndent"><h4>Комиссии</h4></div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="centered">Название</th>
                            <th class="centered">Значение</th>
                            <th class="centered">Тип</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="orderFee in selectedWC.orderFees">
                            <td>{{orderFee.orderType.name}}</td>
                            <td><input class="form-control input-sm" type="text" ng-model="orderFee.value" numbers-only="numbers-only" ng-keyup="checkField(orderFee.value)" /></td>
                            <td>
                                <select class="form-control input-sm" ng-model="orderFee.feeType">
                                    <option value=0>%</option>
                                    <option value=1>Фикс.</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="@Url.Action("WorkingConditions","Admin")" class="btn btn-success btn-sm pull-left"><i class="fa fa-chevron-left"></i> К списку</a>
                <div class="pull-right">
                    <span class="waiting-indicator" ng-show="isVisible"><img src="~/Content/Images/waiting.gif" /></span>
                    <div ng-click="addWC(selectedWC)" class="btn btn-success btn-sm">Сохранить</div>
                </div>
            </div>
        </div>
    </div>
</div>
