@{
    ViewBag.Title = "AccessBlocked";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="row pageheader">
            <div class="col-sm-12">
                <h2>Доступ запрещен</h2>
            </div>
        </div>
        <div class="row">
            <div class="containerWithoutPageHeader">
                <div class="col-sm-6 col-sm-push-3 text-center">
                    <h3>Выша учетная запись была заблокирована администратором</h3>
                </div>
            </div>
        </div>
    </div>
</div>

