@model Dexpa.WebSite.Models.Driver.DriverViewModel

@{
    ViewBag.Title = "Добавить автомобиль";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="container">
        <div class="row pageheader"><h2>Регистрация нового автомобиля</h2></div>
        <div class="row " ng-controller="CarsCtrl" ng-init="GetBrandsAndModels()">
            <div class="containerWithoutPageHeader">
                <form id="addCarForm" ng-submit="addCar(car)">
                    @Html.Partial("_AddCarForm")
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/AngularControllers/CarsDictionaryController.js")
}
