<form name="newOrderForm" id="newOrderForm" novalidate ng-submit="add(order)">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Создание нового заказа</h4>
        </div>
        <div class="panel-body">
            <div class="row bottomBorder">
                <label for="departureDate">Время подачи:</label>
                <div class="form-group">
                    <div class="col-sm-6">
                        <input ng-model="order.Date" required type="text" class="form-control input-sm" id="departureDate" validate="true" validationinfo="Дата подачи" placeholder="Дата подачи" ng-blur="getTariffs()" />
                    </div>
                    <div class="col-sm-6">
                        <input ng-model="order.Time" required type="text" class="form-control input-sm" id="departureTime" validate="true" validationinfo="Время подачи" placeholder="Время подачи" />
                    </div>
                </div>
            </div>
            <div class="row">
                <h5>Клиент</h5>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="legalEntity"> Юридическое лицо
                        </label>
                    </div>
                </div>
            </div>
            <div class="row bottomBorder" id="simpleClientBlock">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="customerPhone">Телефон:</label>
                        <input ng-model="order.customer.phone" numbers-only="numbers-only" required type="text" class="form-control input-sm" id="customerPhone" ng-change="findCustomerByPhone()" ng-blur="formatPhones(order.customer.phone)" validate="true" validationinfo="Телефон" placeholder="Телефон" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="customerName">Имя клиента:</label>
                        <input ng-model="order.customer.name" type="text" ng-disabled="customerSearching" class="form-control input-sm" id="customerName" validate="true" validationinfo="Имя клиента" placeholder="Имя клиента" />
                    </div>
                </div>
            </div>
            <div class="row bottomBorder" id="legalEntityBlock">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="legalEntityName">Организация:</label>
                        <select class="form-control input-sm" ng-model="organization" ng-change="selectOrganization()" id="organizationName" validate="false" validationinfo="Организация" placeholder="Организация">
                            <option ng-repeat="organization in organizations track by $index">{{organization.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="codeword">Кодовое слово:</label>
                        <input required type="text" class="form-control input-sm" id="codeword" ng-blur="findCustomerByCodeword()" validate="false" validationinfo="Кодовое слово" placeholder="Кодовое слово" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="legalEntityName">Ответственное лицо:</label>
                        <select class="form-control input-sm" ng-model="legalEntity" ng-change="selectCustomer(order)" id="legalEntityName" validate="false" validationinfo="Ответственное лицо" placeholder="Ответственное лицо">
                            <option ng-repeat="legalEntity in legalEntities track by $index">{{legalEntity.phone}}: {{legalEntity.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row bottomBorder">
                <label for="discount">Скидка, %:</label>
                <div class="form-group">
                    <div class="col-sm-6">
                        <input ng-model="order.discount" class="form-control input-sm" ng-blur="checkDiscount()" placeholder="Скидка" id="discount" numbers-only="numbers-only" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div><label for="fromAddressDetails">Адрес подачи:</label> <span id="labelFrom"><div class="AddressLabel" ng-click="selectLabelModal('from')">Нет ярлыка</div><div class="clearLabel" ng-click="clearLabel('from')"><span>x</span></div></span></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <input validate="true" validationinfo="Город" ng-model="order.fromAddressDetails.city" class="orderFormInput50 topLeftCorner" placeholder="Город" />
                            <input ng-model="order.fromAddressDetails.street" class="orderFormInput50 topRightCorner" placeholder="Улица" id="fromAddressDetails" ng-click="OnFocusAddress('fromAddressDetails')" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-control dropdownPanel dropdownPanel_fromAddressDetails">
                                <li ng-repeat="fromAddressDetails in fromAddressDetailses" ng-click="selectAddress('fromAddressDetails',fromAddressDetails)">{{fromAddressDetails.address.fullName}}</li>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input ng-model="order.fromAddressDetails.house" class="orderFormInput25 bottomLeftCorner" placeholder="Дом" />
                            <input ng-model="order.fromAddressDetails.housing" class="orderFormInput25" placeholder="Корпус" />
                            <input ng-model="order.fromAddressDetails.building" class="orderFormInput25" placeholder="Строение" />
                            <input ng-model="order.fromAddressDetails.staircase" class="orderFormInput25 bottomRightCorner" placeholder="Подъезд" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <input ng-model="order.fromAddressDetails.comment" class="form-control input-sm" placeholder="Комментарий" />
                </div>
                <div class="col-sm-3">
                    <div id="SetFromPointBtn" ng-click="updateFromAddressDetails();calculateOrderPreCost();" title="Показать на карте" class="btn btn-success form-control btn-displace">
                        <span class="fa fa-map-marker"></span>
                    </div>
                </div>
            </div>
            <div class="row bottomBorder indent">
                <div class="customerLabel" ng-repeat="customerLabel in customerLabels" ng-click="selectLabel('from',customerLabel)">{{customerLabel.name}}</div>
            </div>
            <div class="row">
                <label for="toAddressDetails">Адрес назначения:</label> <span id="labelTo"><div class="AddressLabel" ng-click="selectLabelModal('to')">Нет ярлыка</div><div class="clearLabel" ng-click="clearLabel('to')"><span>x</span></div></span>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <input ng-model="order.toAddressDetails.city" class="orderFormInput50 topLeftCorner" placeholder="Город" />
                            <input ng-model="order.toAddressDetails.street" class="orderFormInput50 topRightCorner" placeholder="Улица" id="toAddressDetails" ng-click="OnFocusAddress('toAddressDetails')"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-control dropdownPanel dropdownPanel_toAddressDetails">
                                <li ng-repeat="toAddressDetails in toAddressDetailses" ng-click="selectAddress('toAddressDetails',toAddressDetails)">{{toAddressDetails.address.fullName}}</li>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input ng-model="order.toAddressDetails.house" class="orderFormInput25 bottomLeftCorner" placeholder="Дом"  />
                            <input ng-model="order.toAddressDetails.housing" class="orderFormInput25" placeholder="Корпус" />
                            <input ng-model="order.toAddressDetails.building" class="orderFormInput25" placeholder="Строение" />
                            <input ng-model="order.toAddressDetails.staircase" class="orderFormInput25 bottomRightCorner" placeholder="Подъезд" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <input ng-model="order.toAddressDetails.comment" class="form-control input-sm" placeholder="Комментарий" />
                </div>
                <div class="col-sm-3">
                    <div id="SetToPointBtn" ng-click="updateToAddressDetails();calculateOrderPreCost();" title="Показать на карте" class="btn btn-success form-control btn-displace">
                        <span class="fa fa-map-marker"></span>
                    </div>
                </div>
            </div>
            <div class="row bottomBorder indent">
                <div class="customerLabel" ng-repeat="customerLabel in customerLabels" ng-click="selectLabel('to',customerLabel)">{{customerLabel.name}}</div>
            </div>
            <div class="row bottomBorder">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="notice">Примечание:</label>
                        <input ng-model="order.comments" type="text" class="form-control input-sm" id="notice">
                    </div>
                </div>
            </div>
            <div class="row bottomBorder">
                <label for="orderSource">Источник заказа:</label>
                <div class="form-group">
                    <div class="col-sm-6">
                        <select class="form-control input-sm" ng-model="order.source" ng-options="source.name for source in orderSourcesList track by source.source" id="orderSource" validate="true" validationinfo="Источник заказа" tabindex="2"></select>
                    </div>
                </div>
            </div>
            <div class="row bottomBorder">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="tariff">Тариф:</label>
                        <select class="form-control input-sm" ng-model="order.tariff" ng-options="tariff.name for tariff in tariffs track by tariff.id"
                                ng-change="calculateOrderPreCost()" id="tariff" validate="true" validationinfo="Тариф" tabindex="2"></select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="preCost">Предварительная стоимость:</label>
                        <input class="form-control input-sm" id="preCost" ng-model="order.preliminaryCost" readonly="readonly" />
                    </div>
                </div>
            </div>
            @Html.Partial("Partials/_CarFeatures")
            <div class="row bottomBorder">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="findAuto">Найти водителей:</label>
                        <table class="table">
                            <tr ng-repeat="oneDriver in driversList track by $index">
                                <td>
                                    <input id="driver" type="text" ng-model="driversList[$index]" ng-click="openCloseDriverPanel($index, $event)" class="form-control input-sm oneDriver" />
                                </td>
                                <td><div class="btn btn-danger btn-sm" ng-click="clearOneDriver($index)"><i class="fa fa-minus"></i></div></td>
                            </tr>
                            <tr ng-click="addOneDriver()" >
                                <td class="btn btn-success btn-sm form-control"><i class="fa fa-plus"></i></td>
                            </tr>
                        </table>
                    </div>
                    <div id="driversPanel" class="form-control dropdownPanelWithBorder dropdownPanel_driver">
                        @*<li id="dropdownPanelLoader"><img src="/Content/Images/waiting.gif" alt=""></li>*@
                        <li driverId="null" ng-click="setSelectedOneDriver()">&nbsp;</li>
                        <li ng-repeat="driver in drivers | filter:driversList[currentDriverIndex] | filter:filterDriversByOptions" driverId="{{driver.id}}" ng-click="setSelectedOneDriver(driver)">[{{driver.callsign}}] - {{driver.lastName}} {{driver.firstName}} {{driver.middleName}}</li>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="distanceBtns">Радиус поиска водителей, км.:</label>
                    <div class="row">
                        <div id="distanceBtns" class="btn-group col-sm-12">
                            <div ng-click='setRadius(0)' class="btn btn-success btn-xs setRadiusBtn">Все</div>
                            <div ng-click='setRadius(2000)' class="btn btn-default btn-xs setRadiusBtn">2</div>
                            <div ng-click='setRadius(5000)' class="btn btn-default btn-xs setRadiusBtn">5</div>
                            <div ng-click='setRadius(10000)' class="btn btn-default btn-xs setRadiusBtn">10</div>
                            <div ng-click='setRadius(15000)' class="btn btn-default btn-xs setRadiusBtn">15</div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="nearestDrivers" class="nearestDriversPanel">
                            <li ng-repeat="nearDr in nearestDrivers | orderBy: 'distance' | filter:filterDriversByOptions" ng-click="setSelectedOneDriver(nearDr)"> {{nearDr.callsign}} - {{nearDr.distance}} км.</li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="@Url.Action("Index", "Dispatcher")" class="btn btn-success btn-sm pull-left"><i class="fa fa-chevron-left"></i> Назад</a>
                    <div class="pull-right">
                        <span class="waiting-indicator" ng-show="isVisible"><img src="~/Content/Images/waiting.gif" /></span>
                        <input type="submit" ng-disabled="isVisible" class="btn btn-success btn-sm" value="Сохранить" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>