@{
    ViewBag.Title = "Редактировать организацию";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="container">
        <div class="row pageheader"><h2>Редактирование организации</h2></div>
        <div class="row " ng-controller="OrganizationsCtrl" ng-init="getOrganization(@ViewData["id"]);datapickerInit();">
            <div class="containerWithoutPageHeader">
                <form id="editOrganizationForm" ng-repeat="organization in organizations" ng-submit="editOrganization(organization,@ViewData["id"])">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @Html.AntiForgeryToken()
                            @Html.Partial("_OrganizationForm")
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/AngularControllers/OrganizationController.js")
}
