@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Добавить событие";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string s = "\"" + ViewData["userName"] + "\"";
}

<div class="row">
    <div class="container">
        <div class="row pageheader"><h2>Добавить событие</h2></div>
        <div class="row " ng-controller="CarEventsCtrl">
            <div class="containerWithoutPageHeader" ng-init="InitAddCarEvent(@ViewData["id"], @s)">
                <form id="addEventForm" ng-submit="addEvent(event)">
                    @Html.Partial("Partials/_AddEventForm")
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/AngularControllers/CarsEventsController.js")
}
