@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Добавить ремонт";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string s = "\"" + ViewData["userName"] + "\"";
}

<div class="row">
    <div class="container">
        <div class="row pageheader"><h2>Добавить ремонт</h2></div>
        <div class="row " ng-controller="CarEventsCtrl">
            <div class="containerWithoutPageHeader" ng-init="InitAddRepair(@ViewData["id"], @s)">
                <form id="addRepairForm" ng-submit="addRepair(repair)">
                    @Html.Partial("Partials/_AddRepairForm")
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/AngularControllers/CarsEventsController.js")
}
