@{
    ViewBag.Title = "Редактрование условия работы";
}

<div class="loader" id="loader">
    <img src="/Content/Images/loader.gif" alt="">
</div>

<div id="main_part">
    <div class="row">
        <div class="container">
            <div class="row pageheader">
                <div class="col-sm-12"><h2>Редактрование условия работы</h2></div>
            </div>
            <div class="row" ng-controller="AdminCtrl" ng-init="getSingleWC(@ViewData["id"])">
                <div class="containerWithoutPageHeader">
                    @Html.Partial("WorkConditionsPartials/_EditWorkConditionPartial")
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/AngularControllers/AdminAppController.js")
}