@using Dexpa.WebSite.Helpers
@using Dexpa.WebSite.Models.RolesAndAccess

@{
    ViewBag.Title = "Пользователи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="loader" id="loader">
    <img src="/Content/Images/loader.gif" alt="">
</div>

<div id="main_part">
    <div ng-controller="AdminCtrl">
        <div class="row" ng-init="initIndex()">
            <div class="col-sm-12">
                <div class="row pageheader">
                    <div class="col-sm-12">
                        <div class="form-inline">
                            @if (GlobalConfiguration.roleAccessModel.CanEditAccounts)
                            {
                                <a href="@Url.Action("Register", "Account")" class="btn btn-success pull-left btn-sm"><i class="fa fa-plus"></i> Зарегистрировать</a>
                                <div class="btn-group filter-margin" id="controlButtons">
                                    <a id="controlButton" class="btn btn-success btn-sm" href="/Account/Manage?userName={{selectedEvent.UserName}}"><i class="fa fa-edit"></i> Редактировать</a>
                                    <a id="controlButton" class="btn btn-danger btn-sm" href="#" ng-click="deleteUser(selectedEvent.Id)"><i class="fa fa-times"></i> Удалить</a>
                                </div>
                            }
                            <input class="form-control input-sm pull-right" ng-model="query" placeholder="Поиск">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="containerWithoutPageHeader">
                        @Html.Partial("_UsersTable")
                        @Html.Partial("_DeleteModal")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/AngularControllers/AdminAppController.js")
}

