@model Dexpa.WebSite.Models.Driver.DriverViewModel

@{
    ViewBag.Title = "Отчет по заказам";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="loader" id="loader">
    <img src="/Content/Images/loader.gif" alt="">
</div>

<div id="main_part">
    <div class="row">
        <div class="col-sm-12" ng-controller="ReportsCtrl" ng-init="init('orders')">
            @Html.Partial("ReportsPartials/_OrdersReportTable")
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/AngularControllers/ReportsController.js")
}