@using Dexpa.WebSite.Helpers
@using Dexpa.WebSite.Models.RolesAndAccess
@{
    ViewBag.Title = "Тарифы";
}

<div class="loader" id="loader">
    <img src="/Content/Images/loader.gif" alt="">
</div>

<div id="main_part">
    <div ng-controller="TariffCtrl">
        <div class="row" ng-init="init()">
            <div class="col-sm-12">
                <div class="row pageheader">
                    @if (GlobalConfiguration.roleAccessModel.CanEditAdminFunctions.HasFlag(AdminEditAccessEnums.Tariffs))
                    {
                        <div class="col-sm-12">
                            <div class="form-inline">
                                <a href="@Url.Action("AddTarif", "Admin")" class="btn btn-success pull-left btn-sm"><i class="fa fa-plus"></i> Добавить тариф</a>
                                <input class="form-control input-sm right-orient" ng-model="query" placeholder="Поиск">
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="containerWithoutPageHeader">
                        @Html.Partial("TariffsPartials/_TariffsTable")
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="deleteModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" ng-click="deleteWC()">Да</button>
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Нет</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>



@section scripts{
    @Scripts.Render("~/Scripts/AngularControllers/TariffsController.js")
}